.hero__button {
    min-width: 194px;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.info__list__item {
    max-width: 315px;
    width: 100%;
}

.info__list {
    list-style-type: none;
}

.btn-play {
    position: absolute;
    right: 50%;
    transform: translate(50%, 150%);
    width: 92.6px;
    height: 92.6px;

}


.praise-item{
    width: 327px;
    list-style-type: none;
}
